[submodule "site/themes/docsy"]
	path = site/themes/docsy
	url = https://github.com/google/docsy
[submodule "themes/docsy"]
	path = themes/docsy
	url = https://github.com/google/docsy.git
[submodule "themes/reveal-hugo"]
	path = themes/reveal-hugo
	url = git@github.com:dzello/reveal-hugo.git
[submodule "public"]
	path = public
	url = https://github.com/chocoteam/chocoteam.github.io.git
	branch = master
